.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 132px;
  border-bottom: 5px solid rgb(119, 119, 119, 0.2);
  opacity: 0, 5;
  background: #e0f2d3;
  margin: 15px 20px;
}

.title {
  color: black;
  font-size: 80px;
}

@media (max-width: 720px) {
  .header {
    height: 100px;
  }

  .title {
    font-size: 60px;
  }
}

@media (max-width: 390px) {
  .header {
    min-width: 50px;
    height: 50px;
  }

  .title {
    font-size: 26px;
  }
}
